{:kotoba.app/id "cloud.itonami.isic-9512", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreihc3l3bzwrvz345hjuhwtl2bw3zna4beitk6pd32reqbr6gaqfjhi", :kotoba.app/embed-url "ipfs://bafkreihc3l3bzwrvz345hjuhwtl2bw3zna4beitk6pd32reqbr6gaqfjhi", :published {:archive "https://kotobase.net/ipfs/bafkreihc3l3bzwrvz345hjuhwtl2bw3zna4beitk6pd32reqbr6gaqfjhi", :size 77168, :put-status 201, :get-status 200, :at "2026-08-15T13:37:33.537Z"}}
